.footer{
    background-color:rgb(194, 201, 201);
    width: 100%;
    align-items: center;
    gap: 2rem;
    justify-content: flex-end;
    text-decoration: none;
    /* padding: 13px; */
    margin-bottom: 15px;
    
  }
  .project{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;   
  }