.container{
    margin: 0;
    width: 100%;
    background-color: #eeeef1;
    position: static;
    top:0;
}
.navbar {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    background-color: #eeeef1;
    padding: 10px;
    gap: 40px;
    margin-left: 40px;
    margin-right: 30px;
    align-items:center;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
  }
  
  .navbar li {
    display:inline-flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    color: #333;
    cursor: pointer;
  }
  
  .navbar li .span {
    margin-top: 5px;
    gap: 20px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
  }
  
  .navbar li svg {
    font-size: 24px;
    gap: 20px;
  }
  